form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
input, button {
  margin: 10px 0;
  padding: 8px;
}
button {
  background-color: #0317ed;
  color: white;
  border: none;
  cursor: pointer;
}